/*  General Styles */

body {
  text-align: center;
  position: relative;
}


.container-fluid {
  padding: 3% 10%;
}

.btn1,
.btn2 {
  margin: 4% 3% 5% 0;
  text-decoration: none;
}

/* Intro Section */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    #intro-section {
      background: url("media/cover-art.jpeg") no-repeat;
      background-size: cover;
    }
}


.navbar-brand {
    font-family: 'Wallpoet', cursive;
    font-size: 2rem;
    color: white;
}

.bt1, .btn2{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

p, .btn1, .btn2 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
