/*  General Styles */

body {
  text-align: center;
  background: url(../media/bg.png);
}


.container-fluid {
  padding: 3% 10%;
}

.btn1,
.btn2 {
  margin: 4% 3% 5% 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  
}

/* Intro Section */



.brand {
    font-family: 'Wallpoet', cursive;
    font-size: 2rem;
    color: white;
    text-align: left;
}

.tracklist{
  width: 35rem;
  height: 35rem;
  padding-bottom: 5rem;
}


.text1{
  padding-top: 6rem;
  font-family: 'Zen Dots', cursive;
  font-size: 5rem;
  color: white;
}

@media (max-width: 750px) {

  .text1{
    font-size: 3rem;
  }

  .brand{
    text-align: center;
  }

  .tracklist{
    width: 20rem;
    height: 20rem;
    padding-bottom: 0;
  }
}

footer{
  color: white;
}

.track-btn{

}